{% extends 'body.html' %}

{% load widget_tweaks %}

{% block content %}


<form action="." method="post">

    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-trash-alt"></i>
                {{ title }}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            {% csrf_token %}
            <!-- primera forma
            <div class="form-group">
                <label for="email">{{ form.name.label }}</label>
                {{ form.name }}
                <label for="email">{{ form.desc.label }}</label>
                {{ form.desc }}
            </div> -->

            <input type="hidden" name="action" value="{{ action }}">

            {% if form.errors %}

            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i>Ha ocurrido un error!</h5>

                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>


            </div>


            {% endif %}

            <div class="alert alert-danger alert-dismissible">

                <h5><i class="icon fas fa-ban"></i>Advertencia!</h5>
                ¿Estas seguro(a) de eliminar la categoría N° {{ object.id }} : {{ object.name }}?
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-danger btn-flat">
                <i class="fas fa-trash-alt"></i>
                Eliminar
            </button>

            <a href="{{ list_url }}" class="btn btn-info btn-flat">
                <i class="fas fa-times"></i>
                Cancelar
            </a>

        </div>
    </div>


</form>

<script>
    //se busca acceder al evento submit del formulario
    $('form').on('submit', function (e) {
        e.preventDefault(); //corta la secuencia por defecto, en este caso evitará que se guarde el nuevo registro categoría

        var parameters = $(this).serializeArray();
        //console.log(parameters); serializeArray convierte todos los input del formulario a diccionario
        
        $.ajax({

            //url: "{% url 'erp:category_create' %}",
            url: window.location.pathname, //de esta forma se puede extender a cualquier url
            type: 'POST',
            data: parameters, //son todos los campos recogidos desde el formulario crear categoría
            dataType: 'json'

        }).done(function (data) {
            if (!data.hasOwnProperty('error')) {
                location.href = '{{ list_url }}';
                return false; //return false implica salir del ciclo
            }
            message_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        }).always(function (data) {

        });

    });


</script>




{% endblock %}